<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:wght@300&family=Urbanist:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/dashboard.css">
  <title>Bundle</title>
</head>

<body>
  <nav>
      <h1>Bundle</h1>
      <div class="links">
          <a href="/dashboard">Dashboard</a>
          <a href="/input">Add Info</a>
          <a href="/transactions">Transactions</a>
          <a href="/update">Update</a>
      </div>
      <div class="user">
          <h2>{{ user.username }}</h2>
          <a href="/logout">Logout</a>
      </div>
  </nav>

  <div class="welcome">
    <h1>Welcome back, user</h1>
  </div>

<div class="container">
  <h2>Budget:</h2>
  <p>{{ budget.budget_amt }}</p>

  <!-- division for income section -->

  <div>
    <p>Paycheck 1:</p>
    <p>Paycheck 2:</p>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Budgeted</th>
          <th>Spent</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Transportation</td>
          <td>{{ table_data.transportation_budget }}</td>
          <td>{{ spent_data.transportation_spent }}</td>
        </tr>
        <tr>
          <td>Groceries</td>
          <td>{{ table_data.groceries_budget }}</td>
          <td>{{ spent_data.groceries_spent }}</td>
        </tr>
        <tr>
          <td>Clothing</td>
          <td>{{ table_data.clothing_budget }}</td>
          <td>{{ spent_data.clothing_spent }}</td>
        </tr>
        <tr>
          <td>Doctor</td>
          <td>{{ table_data.doctor_budget }}</td>
          <td>{{ spent_data.doctor_spent }}</td>
        </tr>
        <tr>
          <td>Cosmetics</td>
          <td>{{ table_data.cosmetics_budget }}</td>
          <td>{{ spent_data.cosmetics_spent }}</td>
        </tr>
        <tr>
          <td>Housing</td>
          <td>{{ table_data.housing_budget }}</td>
          <td>{{ spent_data.housing_spent }}</td>
        </tr>
        <tr>
          <td>Internet</td>
          <td>{{ table_data.internet_budget }}</td>
          <td>{{ spent_data.internet_spent }}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{ table_data.phone_budget }}</td>
          <td>{{ spent_data.phone_spent }}</td>
        </tr>
        <tr>
          <td>Subscriptions</td>
          <td>{{ table_data.subscriptions_budget }}</td>
          <td>{{ spent_data.subscriptions_spent }}</td>
        </tr>
        <tr>
          <td>Miscellaneous</td>
          <td>{{ table_data.miscellaneous_budget }}</td>
          <td>{{ spent_data.miscellaneous_spent }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
</body>

</html>