<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Hey, You're logged in</h1>
  <h2>Budget:</h2>
  <p>{{ budget.budget_amt }}</p>
  <!-- division for income section -->
  <div>
    <p>Paycheck 1</p>
    <p>Paycheck 2</p>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Budgeted</th>
          <th>Spent</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Transportation</td>
          <td>budgetted</td>
          <td>spent</td>
        </tr>
        <tr>
          <td>Groceries</td>
          <td>budgetted</td>
          <td>spent</td>
        </tr>
        <tr>
          <td>Clothing</td>
          <td>budgetted</td>
          <td>spent</td>
        </tr>
        <tr>
          <td>Doctor</td>
          <td>budgetted</td>
          <td>spent</td>
        </tr>
        <tr>
          <td>Cosmetics</td>
          <td>budgetted</td>
          <td>spent</td>
        </tr>
        <tr>
          <td>Housing</td>
          <td>budgetted</td>
          <td>spent</td>
        </tr>
        <tr>
          <td>Internet</td>
          <td>budgetted</td>
          <td>spent</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>budgetted</td>
          <td>spent</td>
        </tr>
        <tr>
          <td>Subscriptions</td>
          <td>budgetted</td>
          <td>spent</td>
        </tr>
        <tr>
          <td>Miscellaneous</td>
          <td>budgetted</td>
          <td>spent</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>