<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:wght@300&family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Bundle</title>
</head>
<body>
    <div class="container">
        <h1>Bundle</h1>
        <h2>Budgeting made easy.</h2>
        <h3>Try the tool that helps you budget, track expenses, and save money all in one place. Stress less about your money with Bundle.</h3>
        <div class="buttons">
            <button type="button"><h2>Get Started</h2></button>
        </div>
    </div>
</body>
</html>