<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/imgs/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="..static/imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/imgs/favicon-16x16.png">
    <link rel="manifest" href="../static/imgs/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:wght@300&family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/input.css">
    <title>Add Info | Bundle</title>
</head>
    
<body>
    <nav>
        <h1>Bundle</h1>
        <div class="links">
            <a href="/dashboard">Dashboard</a>
            <a href="/input">Add Info</a>
            <a href="/transactions">Transactions</a>
            <a href="/update">Update</a>
        </div>
        <div class="user">
            <h2>{{ user.username }}</h2>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <!-- should submit all form data into "insert transaction" route and run function in route -->

    <div class="container">
        <form action="/insert_budget" method="POST">
            <h1>Add Budgeted Amount</h1>
            <label for="budget_amt">Amount:</label>
            <input type="number" id="budget_amt" name="budget_amt">
            
            <label for="budget_cat">Category:</label>
                <select name="budget_cat" id="budget_cat">
                    <option value="null" hidden>Select A Category</option>
                    <option value="transportation">Transportation</option>
                    <option value="groceries">Groceries</option>
                    <option value="clothing">Clothing</option>
                    <option value="doctor">Doctor</option>
                    <option value="cosmetics">Cosmetics</option>
                    <option value="housing">Housing</option>
                    <option value="internet">Internet</option>
                    <option value="phone">Phone</option>
                    <option value="subscriptions">Subscriptions</option>
                    <option value="miscellaneous">Miscellaneous</option>
                </select>

            <!-- <input type="submit" name="add" id="add" value="Add Transaction"> -->
            <button type="submit">Add Budget</button>
            {% with messages = get_flashed_messages(category_filter = 'budget') %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color:red">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>

        <form action="/insert_transaction" method="POST">
            <h1>Add a New Transaction</h1>
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount">
            
            <label for="category">Category:</label>
                <select name="category" id="category">
                    <option value="null" hidden>Select A Category</option>
                    <option value="transportation">Transportation</option>
                    <option value="groceries">Groceries</option>
                    <option value="clothing">Clothing</option>
                    <option value="doctor">Doctor</option>
                    <option value="cosmetics">Cosmetics</option>
                    <option value="housing">Housing</option>
                    <option value="internet">Internet</option>
                    <option value="phone">Phone</option>
                    <option value="subscriptions">Subscriptions</option>
                    <option value="miscellaneous">Miscellaneous</option>
                </select>

            <label for="comment">Comment (Optional):</label>
            <textarea name="comment" id="comment" rows="5"></textarea>

            <label for="date">Date:</label>
            <input type="date" name="date">

            <button type="submit">Add Transaction</button>
            {% with messages = get_flashed_messages(category_filter = 'transaction') %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color:red">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>

</body>

</html>