<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/imgs/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="..static/imgs/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/imgs/favicon-16x16.png">
  <link rel="manifest" href="../static/imgs/site.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:wght@300&family=Urbanist:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/dashboard.css">
  <title>Transactions | Bundle</title>
</head>
<body>

<nav>
  <h1>Bundle</h1>
  <div class="links">
    <a href="/dashboard">Dashboard</a>
    <a href="/input">Add Info</a>
    <a href="/transactions">Transactions</a>
    <a href="/update">Update</a>
  </div>
  <div class="user">
    <h2>{{ user.username }}</h2>
    <a href="/logout">Logout</a>
  </div>
</nav>

<div class="container">
  <h2>All Transactions</h2>
  <table>
    <!-- Add jinja to create all transactions -->
    <thead>
      <tr>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Comment</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{transaction.comment}}</td>
        <td>
          <a href="/transaction/{{ transaction.id }}">Edit</a> | 
          <a href="/delete_transaction/{{ transaction.id }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>