* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: large;
    background-color:#0e2a47;
}

a {
    color:#2a9d8f;
    text-decoration: none;
}
a:hover {
    color:white;
}

nav > h1 {
    font-family: 'Racing Sans One';
    font-size: 3em;
    color:#2a9d8f;
}

nav {
    background-color: #2b2d42;
    padding: 10px 20px;
    width:max-content;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:fixed;
    top:0;
}

nav a{
    color:#2a9d8f;
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover{
    color:white;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.links a:hover {
    color:#2a9d8f;
}

.welcome, .container {
    width:45%;
    margin: 5% auto;
}

table {
    margin:20px 0;
    width:80%;
    text-align: center;
}

table, th, td {
    border-bottom: 1px solid #bbb;
    border-collapse: collapse;
    padding: 20px;
}

th{
    background-color: #2b2d42;
}

tbody tr:nth-child(even) {
    background-color: #0c223a;
}